.header {
    width: 100%;
    background-color: #202020;
}

.header--wrapper {
    max-inline-size: 1440px;
    display: flex;
    margin: auto;
    align-items: center;
    gap: 40px;
    padding-inline: 48px;
    padding-block: 8px;
}

a {
    color: inherit;
    text-decoration: none;
}

.logo {
    width: 118px;
    height: 40px;
}

.nav__list {
    font-family: "Montserrat", sans-serif;
    display: flex;
    list-style-type: none;
    gap: 24px;
    padding-inline-start: 0;
}

.nav__list-item {
    font-size: 18px;
    color: #F3F3F3;
}

.nav__list-item:hover {
    color: #F2994A;
}

