.header {
    width: 100%;
    background-color: $black-100;

    &__wrapper {
        max-inline-size: 1440px;
        display: flex;
        margin: auto;
        align-items: center;
        gap: $space-2xl;
        padding-inline: $space-3xl;
        padding-block: $space-s;
    }

    &__logo {
        display: block;
        width: 118px;
        height: $space-2xl;
    }
}

.nav {
    &__list {
        display: flex;
        list-style-type: none;
        gap: $space-l;

        &-item {
            font-size: $h5-size;
            color: $white;

            &:hover {
                color: $accent-100;
            }
        }
    }
}