.header {
    background-color: $black-100;

    &__wrapper {
        display: flex;
        margin: auto;
        align-items: center;
        gap: $space-xl;
    }

    &__logo {
        display: block;
        width: 118px;
        height: $space-2xl;
        margin-block-start: $space-xs;
        //Size from Figma for align Logo position
        margin-block-end: 12px;
    }
}