@mixin field--small {
  padding: $space-xs $space-s;

  @include p
}

@mixin field--medium {
  padding: $space-s $space-m;

  @include h5
}

@mixin field--large {
  padding: $space-m $space-l;

  @include h4
}