@import '../mixins/text';
@import '../variables/spaces';

@mixin field--smallest {
  @include p
}

@mixin field--extra_small {
  padding: $space-xs $space-s;
  
  @include p
}

@mixin field--small {
  padding: $space-xs $space-s;
  
  @include h5
}

@mixin field--medium {
  padding: $space-s $space-m;

  @include h5
}

@mixin field--large {
  padding: $space-m $space-l;
  
  @include h5
}