@mixin h1 {
  font-size: $h1-size;
  line-height: normal;
}

@mixin h2 {
  font-size: $h2-size;
  line-height: normal;
}

@mixin h3 {
  font-size: $h3-size;
  line-height: normal;
}

@mixin h4 {
  font-size: $h4-size;
  line-height: normal;
}

@mixin h5 {
  font-size: $h5-size;
}

@mixin p {
  font-size: $p-size;
}