.left-col {
  grid-column: 1 / 3;
}

.poster {

    &__wrapper {
      border-radius: $space-s;
      box-shadow: 0 0 $space-xs rgb(0 0 0 / 0.25);
    }

    &__img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: inherit;
    }
}

.review-block {
  margin-block-start: $space-m;

    &__panel {
      display: flex;
      flex-direction: column;
      gap: $space-s;
    }
}

.center-col {
  display: flex;
  flex-direction: column;
  grid-column: 3 / 10;
  padding-inline: $space-l;
}

.title {

  &__master {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__heading {
    @include h2;
    font-weight: $bold;
  }

}

.about-list  {

  &__item {
    color: $black-100;
    display: flex;

    &-type {
      display: inline-block;
      margin-right: $space-xs;
      background-color: $gray-40;
      padding-block: $space-xs;
      padding-inline: $space-s;
      text-transform: capitalize;
    }

    &-value {
      display: inline-block;
      background-color: $gray-40;
      padding-block: $space-xs;
      padding-inline: $space-s;
      text-transform: capitalize;
    }
  }
}

