.filter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: $gray-60;
  border-radius: $space-s;
  padding: $space-m;

  /*Types*/
  &--detailed {
    gap: $space-l;

    .filter__selects {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      row-gap: $space-m;
      column-gap: $space-m;
    }

    .filter__search-area {
      flex-direction: row;
    }
  }

  &--small {
    gap: $space-m;

    .filter__selects {
      grid-template-columns: repeat(2, 1fr);
      row-gap: $space-s;
      column-gap: $space-s;
    }

    .filter__search-area {
      flex-direction: column;
    }
  }

  &__selects {
    width: 100%;
    display: grid;
  }

  &__tags {
    display: flex;
    gap: $space-s;
    flex-wrap: wrap;
    width: 100%;

    &--hidden {
      display: none;
    }
  }

  &__search-area {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    column-gap: $space-m;
  }
}

.filters {
  display: flex;
  flex-wrap: wrap;
  gap: $space-m;

  &--hidden {
    display: none;
  }
}

.search-area {
  &__search-input {
    width: 100%;
    flex-shrink: 2;
  }

  &__button-button {
    width: 100%;
    flex-shrink: 10;
  }
}
