.nav {
  &__list {
    display: flex;
    list-style-type: none;
    gap: $space-l;

    &-item {
      font-size: $h5-size;
      line-height: 24px;
      color: $white;
      padding-block: $space-m;

      &:hover {
        color: $accent-100;
      }
    }
  }
}