.nav {
  &__list {
    display: flex;
    list-style-type: none;
    gap: $space-l;

    &-item {
      padding-block: $space-m;
      @include h5;
        color: $gray-40;

      &:hover {
        color: $accent-100;

      }
    }
  }
}