.button {
  width: 100%;
  outline: 0;
  border: 0;
  border-radius: $space-xs;
  color: $gray-40;
  cursor: pointer;
  transition: all 0.2s ease;

  /* justify */
  &--start {
    display: flex;
    justify-content: start;
    align-items: center;
  }

  &--center {
    display: flex;
    justify-content: center;
    align-items: center;
    .button__text {
      flex-grow: 2;
    }
  }

  &--between {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  /* Sizes */
  &--smallest {
    @include field--smallest
  }

  &--extra-small {
    @include field--extra-small
  }

  &--small {
    @include field--small
  }

  &--medium {
    @include field--medium
  }

  &--large {
    @include field--large
  }

  /* Types */
  &--primary {
    background-color: $accent-80;

    &:hover {
      background-color: $accent-100;
    }

    &:active {
      background-color: $accent-120;
    }
  }

  &--ghost {
    color: $black-100;
    @include shadow-xs;
    
    &:active {
      box-shadow: inset 0 0 $space-xs 0 rgba(0, 0, 0, 0.25);
    }
  }

  &--secondary { 
    background-color: $gray-20;
    color: $black-100;
    @include shadow-xs;

    &:hover {
      background-color: $gray-40;
    }
  }

  &--disabled {
    background-color: $black-60 !important;
  }

  &--transparent {
    color: inherit;
  }
}

