.card {
  &__img-wrapper {
    width: 100%;
    box-shadow: 0 0 $space-xs rgb(0 0 0 / 0.25);
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: $space-s;
  }

  &__title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: $white;
    word-wrap: break-word;
    margin-top: $space-s;
    padding-inline: $space-s;

    @include h5;
    
    text-align: center;
  }
}
