.card {
  display: flex;
  flex-direction: column;
  gap: $space-s;
  width: 168px;

  &__list {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    display: flex;
    // need fix sizing padding and spaces in Figma
    justify-content: space-between;
    background-color: $black-100;
    padding-block: $space-m;
    padding-inline: $space-l;
  }

  &__img-wrapper {
    //fix-Height anime's cover
    height: 237px;
    box-shadow: 0 0 $space-xs rgba(0, 0, 0, 0.25); ;
  }

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: $space-s;
  }

  &__title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    max-height: $space-3xl;
    color: $white;
    @include h5;
    text-overflow: ellipsis;
    text-align: center;
  }
}

