.input {
  width: 100%;
  outline: 0;
  border: 1px solid $gray-80;
  border-radius: $space-s;
  color: $black-100;

  /* Sizes */
  &--small {
    @include field--small
  }
  &--medium {
    @include field--medium
  }
  &--large {
    @include field--large
  }

  /* Types */
  &--transparent {
    background-color: transparent;
    border: none;
  }
  &--disabled {
    background-color: $black-60 !important;
  }
}