$black-100: #202020;
$black-80: #4A4A4A;
$black-60: #757575;
$black-40: #A0A0A0;
$black-20: #CACACA;
$black-5: #EAEAEA;

$white: #F5F5F5;

$accent-100: #FE8127;
$accent-80: #FC9850;
$accent-60: #FAB079;
$accent-40: #F9C7A3;
$accent-20: #F7DECC;