$heading1--size: 32px;
$heading1--line-height: 40px;

$heading2--size: 28px;
$heading2--line-height: 36px;

$heading3--size: 24px;
$heading3--line-height: 28px;

$heading4--size: 20px;
$heading4--line-height: 28px;

$heading5--size: 16px;
$heading5--line-height: 24px;

$paragraph--size: 14px;
$paragraph--line-height: 22px;

$text--regular: 400;
$text--bold: 700;